<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a pascal.com, <%= @user.email %></h1>
    <p>
      El sitio del pets fight club.<br>
      Tu usuario es : <%= @user.email %>.<br>
    </p>
    <p>
      Para entrar: <%= @url %>.
    </p>
    <p>Y recuerda!</p>
    <p>La primera regla del Pets Fight Club: habla de él</p>
  </body>
</html>
